@import "tailwindcss";
/* Light Mode */
body.light {
    --background: #ffffff;
    --foreground: #161c24;
    --gradient-background: radial-gradient(
            circle at 30% 30%,
            #f0f0f0,
            transparent
        ),
        linear-gradient(to bottom right, #ffffff, #f8f9fa, #e9ecef);
    --noise: url("https://www.transparenttextures.com/patterns/subtle-dots.png");

    background: var(--gradient-background), var(--noise);
    background-blend-mode: overlay;
    color: var(--foreground);
    transition: background 0.5s ease, color 0.5s ease;
}

/* Dark Mode */
body.dark {
    --background: #000000; /* Pure Black */
    --foreground: #ffffff;

    background: var(--background);
    color: var(--foreground);
    transition: background 0.5s ease, color 0.5s ease;
}
